<div class="footer">
    <div class="footer__site">
        <span>zur Bosch Website</span>
    </div>
    <div class="footer__bosch">© Robert Bosch Hausgeräte GmbH</div>

    <div class="stashtask">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem minima, facere distinctio placeat. Quos harum delectus tempora repellendus facere ullam voluptatibus unde quo consequuntur quod sunt minus, aperiam iste praesentium!</div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ullam quos inventore neque debitis, velit deleniti, eum saepe recusandae corporis eos harum provident quidem ad odio modi. Hic, officia, sequi.test</p>

</div>