<div class="main">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex in est velit dicta possimus laudantium maxime aperiam, voluptatem doloremque accusamus earum adipisci sit eveniet perferendis quam. Odit quibusdam quos, asperiores.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis fugit quibusdam expedita necessitatibus omnis, architecto molestiae eaque minima ea consequuntur sit voluptatibus recusandae, cupiditate veritatis dolore, tempora labore est nulla.</p>
        //= configurator.html
        //= content.html
    </div>
    <div class="preFooter">Prefootert</div>
</div>